{% extends 'layout.html.twig' %}

{% block content %}
    {% include '_searchForm.html.twig' %}
    <div class="box_button_add">
        <a class="container-md button_add" href="/offer/add">Je dépose une annonce</a>
    </div>
{% endblock %}
{% block javascript %}
<script>
    const selectToolsproducts = document.querySelector("#tools_products");
    const btnCheckTool = document.querySelector('#tool');
    const selectMaterialsproducts = document.querySelector("#materials_products");
    const btnCheckMaterial = document.querySelector("#material");
    btnCheckTool.addEventListener('change', function() {
    selectToolsproducts.classList.remove("invisible");
    selectMaterialsproducts.classList.add("invisible");
});
    btnCheckMaterial.addEventListener('change', function() {
    selectMaterialsproducts.classList.remove("invisible");
    selectToolsproducts.classList.add("invisible");
});
</script>
{% endblock %}
