{% extends 'layout.html.twig' %}

{% block content %}
    <div class="looking_for_block container container_custom">
        <div class="intro-signin">
            <h2> Bonjour !</h2>
            <p>Connecte-toi pour déposer ton annonce et découvrir toutes nos fonctionnalités.</p>
        </div>
        <form method="POST" action="/Account/signIn" >
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn-go btn btn-light">Go !</button>
        </form>
        <div class="account-creation">
            <p>Envie de nous rejoindre ? </p>
            <a href="/user/register" class="btn-account-creation btn btn-light">Créer mon compte</a>
        </div>
    </div>
{% endblock %}