
:root {
    --primary-color: #F2E186;
    --radio-button-color: maroon;
    --on-hover-button: #f1bc83;
}

h1 {
    text-align: center;
}

.container-md, .container {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 90%;
    padding-bottom: 1rem;
}

.form-check-inline {
    width: 100%;
    justify-content: space-around;
}

.form-control:focus {
    border-color: #d2691e;
    box-shadow: 0 0 0 0.2rem rgba( 210,105,30,0.25);
}

input[type='radio'] {
    width:15px;
    height:15px;
    border:1px solid black;
    border-radius:50%;
    outline:none;
}

input[type='radio']:hover {
    box-shadow:0 0 1px 0px orange inset;
}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
input[type='radio']:checked:before {
    background: var(--radio-button-color);
}


.btn {
    display: block;
    margin: auto;
}

.errors {
    color: red;
}

.invisible {
    display: none;
}

.button_add {
    margin: 60px auto;
    padding: 0.75rem;
    display: block;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: black;
}

.button_add:hover {
    text-decoration: none;
    color: maroon;
    background-color: var(--on-hover-button);
}

.consult_list_offers_container{
    display: block;
    min-width: 500px;
    align-items: center;

}
.consult_list_offers_container h1{
    margin-top: 20px;
    height: 50px;
    font-size: 20px ;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap
}
.consult_list_offers_container p{
    font-size: 15px ;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap
}
.consult_list_offers_container h3{
    font-size: 15px;
}

.consult_list_offers_container h4{
    font-size: 10px;
}
.consult_list_offers_card{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2E186;
    margin: auto;
    border-radius: 10px;
    max-width: 75%;
}

.consult_list_offers_card img{
    border-radius: 10px;
}

.consult_list_offers_card .card-body{
    padding-left:1.25rem;
}

.consult_list_offers_image{
    padding:10px;
}

.consult_list_offer_select{

    display: flex;
    align-items: center;
}


.consult_list_offers_container form{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2E186;
    border-radius: 10px;
    margin:auto;
    margin-bottom: 10px;
    max-width: 75%;

}

.consult_list_offers_container form select{
    background-color: #FFFFFF;
    border:none;
    border-radius: 10px;
    width: 100px;
    font-size: 13px;
}
.consult_list_offers_container form label{
    margin-top:0.5rem;
    font-size: 10px;
}

.consult_list_offers_button{
    background-color: #FFFFFF;
    border:none;
    border-radius: 10px;
    width: 50px;
    font-size: 13px;
}

@media screen and (min-width: 1000px) {

    .home_page_content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box_button_add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .looking_for_block {
        width: 50%;
    }


    .button_add {
        margin: auto 1.2rem;
        max-width: 550px;
    }
    .consult_list_offers_card{
        max-width: 600px;
    }

}




