{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center">
        <img src="/assets/images/successicon.jpg" class="rounded success_image" alt="Success Image">
    </div>
    <div class="addSuccess_card">
        <div class="card-body">
            <h1>Felicitations!</h1>
            <p><B>Nous avons bien pris en compte votre annonce!</B></p>
            <p>Toute l'équipe de <B>Brico</B>Family vous souhaite une excellente transaction!<br />
                N'hésitez pas à déposer d'autres offres ou à en consulter!
            </p>
        </div>
    </div>
{% endblock content%}