{% extends 'layout.html.twig' %}
{% block title %}je recherche{% endblock %}
{% block content %}
    <div class= "consult_offers_list_container">
        <h1>Je cherche un </h1>
        <p>descriptif recherche</p>
        <div class="consult_offer_card">
            <div class  = "consult_list_offers_image">
               <img src="https://via.placeholder.com/100" alt="product_1"></a>
            </div>
            <div class="card-body">
                <div class="tool_cartd_title">
                    <h3>Titre:</h3><p>
                    <h4>Prix:</h4><P></P>
                    <h4>Localisation:</h4><P></P>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
